<h1><%= @cocktail.name %></h1>
<h4>You need:</h4>
<% @cocktail.doses.each do |d| %>
  <p>- <%= d.amount %> <%= d.amount == 1 ? "unit" : "units" %> of <%= d.ingredient.name %>
  <%= link_to "Delete dose", dose_path(d), method: :delete %></p>
<% end %>
<h4>Add a dose:</h4>
<%= bootstrap_form_for [@cocktail, @dose], class: "form-inline" do |f| %>
  <%= f.select :ingredient, [
    ["ice cubes"], ["mint leaves"], ["lemon"], ["perrier"], ["coke"], ["cane sugar"], ["milk"], ["tonic"], ["redbull"], ["kahlua"], ["rhum"], ["vodka"], ["gin"], ["whisky"], ["jagermeister"]
    ],
    class: "form-control" %>
  <%= f.text_field :amount, class: "form-control" %>
  <%= f.submit "Add dose", class: "btn btn-primary" %>
<% end %>
