<h1><%= @cocktail.name %></h1>
<h4>You need:</h4>
<% @cocktail.doses.each do |d| %>
  <p>- <%= d.amount %> <%= d.amount == 1 ? "unit" : "units" %> of <%= d.ingredient.name %></p>
<% end %>
<%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
