<h1><%= @cocktail.name %></h1>
<h4>You need:</h4>
<% @cocktail.doses.each do |d| %>
  <p>- <%= d.amount %> <%= d.amount == 1 ? "unit" : "units" %> of <%= d.ingredient.name %>
  <%= link_to "Delete dose", dose_path(d), method: :delete %></p>
<% end %>
<h4>Add a dose:</h4>
<%= bootstrap_form_for [@cocktail, @dose] do |f| %>
  <%= f.collection_select :ingredient_id, Ingredient.all, :id, :name %>
  <%= f.text_field :amount %>
  <%= f.submit "Add dose", class: "btn btn-primary" %>
<% end %>
